.*/
.DS_Store
/crash-reports/
emi.json
fancymenu_data
fancymenu_setups
/keybinding presets/
/kubejs/jsconfig.json
/lightspeed-cache/
/local/
/logs/
/modernfix/
/moreplayermodels/
No Flesh Within Chest 1.20.1-natives/
/options.txt
patchouli_data.json
/PCL/
/quests_structures
/resourcepacks/
rhino.local.properties
/saves/
/schematics/*.nbt
/schematics/uploaded
!/schematics/schematic.*.nbt
/screenshots/
/servers*
/shaderpacks/
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/config/worldedit/
/config/jei/
/config/embeddium*
/config/oculus*
/kubejs/pack_resources
/config/konkrete
/config/spark
/config/titanium
/config/ibeeditor*
/config/fml.toml
/config/forgeendertech
/config/biomebeats
/data/
/config/fabric/indigo-renderer.properties
/config/asyncparticles
/EffekseerNativeForJava.dll
/tconplanner
/exposures/
exposure_catalog_state.json
config/pin_tooltips.json
config/jade/sort-order.json
config/jade/plugins.json
kubejs/probe/
*.log
/config/CSC/Data
/config/CSC
*.bak
CoinScreenLayout.json
/config/yes_steve_model/cache
/config/yes_steve_model/builtin
/armourers_workshop/model-imports
config/.infinity-temp.json
/backups
/visual_keybinder
config/quick boot.properties
config/ModernUI/bootstrap.properties
/holographic_keybinds/
/armourers_workshop/skin-library
/config/stampalbum
bivrik/
